.paper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

.textArea {
    min-width: 100%;
    min-height: 70px
}