.blog-name {
    font-size: 36px;
    font-weight: 700;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 25px 5px;
    background-color: rgb(245, 235, 227);
}

.search-posts {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 0 20px;
}

.search-posts input:focus {
    outline: none;
}

.search-posts input {
    width: 320px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.found-posts {
    display: flex;
    gap: 10px;
    font-size: 22px;
    font-weight: 600;
}

.add-post {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: -35px;
}

.disabled-background {
    position: absolute;
    width: 100%;
    height: calc(100% + 5px);
    background-color: darkgray;
    margin-top: -30px;
    z-index: 10;
    opacity: 0.4;
}